@import '../../index.css';
.MovieInfo {
    position: relative;
    // header content
    .MovieInfo__header-content {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 32px;
        margin-bottom: 2rem;
        .MovieInfo__header-content-left {
            .MovieInfo__img-wrapper {
                width: 450px;
                height: 650px;
                object-fit: cover;
                .MovieInfo__img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .MovieInfo__header-content-right {
            .MovieInfo__main-title {
                font-size: 30px;
                color: var(--color-white);
                margin-bottom: 16px;
            }
            .MovieInfo__content-right-item {
                .MovieInfo__title {
                    color: var(--color-white);
                }
                .MovieInfo__movie-value {

                }
            }

        }
    }

    // main content
    .MovieInfo__main-content {

    }

}